<div *ngIf="!isMobile" appStickyHeader [class]="'topsticky'">
	<header id="navbar" class="d-none d-lg-block">
		<div id="navUpdates">
			<div class="container">
				<div class="top desktop-menus">
					<div class="logo float-left">
						<a (click)="onLogoClick($event)">
							<img src="/assets/images/logo.png" alt="Red sea Exports" />
						</a>
					</div>
					<div class="flex-menus">
						<div class="primary-menu">
							<a [routerLink]="['/crowdfunding/fundraisers']">Products</a>
							<a href="javascript:void(0)" class="fundraise-for">About Us</a>
							<a href="javascript:void(0)" class="fundraise-for">Contact Us</a>
						</div>
						<div class="login-menu">
							<span class="menu-spacer"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<header *ngIf="isMobile" id="navbar" class="d-lg-none">
	<div class="menus">
		<mat-sidenav-container class="nav-container">
			<mat-sidenav-content class="mobile-header" appStickyHeader [class]="'topsticky'">
				<div class="logo float-left">
					<a (click)="onLogoClick($event)">
						<img src="/assets/images/logo.png" alt="Red sea Exports" />
					</a>
				</div>
				<div>
					<button class="menu-button" aria-label="menu-button" mat-icon-button (click)="sidenav.toggle()">
						<span>
							<mat-icon>menu</mat-icon>
						</span>
					</button>
				</div>
			</mat-sidenav-content>
			<mat-sidenav #sidenav mode="push" position="end">
				<div class="logo-inside float-left">
					<img src="/assets/images/logo.png" alt="Red sea Exports" />
				</div>
				<p><button mat-icon-button (click)="sidenav.close()"><mat-icon class="close-btn">close</mat-icon></button></p>
				<div class="main-menus">
					<div>
						<p><a [routerLink]="['/crowdfunding/fundraisers']">Products</a></p>
						<p><a href="javascript:void(0)" class="fundraise-for">About Us</a></p>
						<p><a href="javascript:void(0)" class="fundraise-for">Contact Us</a></p>
					</div>
				</div>
			</mat-sidenav>
		</mat-sidenav-container>
	</div>
</header>