<div>
	<footer class="d-none d-sm-none d-lg-block">
		<div class="container footer-wrapper">
			<div class="row">
				<div class="col-md-3 col-lg-3 col-12 col-sm-7 cols">
					<div class="text-content">
						<div class="title">Be the first to know</div>
						<div class="text">Sign up for updates from mettā muse.</div>
						<div class="subscribebox">
							<div class="input">
								<input type="email">
							</div>
							<div class="btn">
								<button>Subscribe</button>
							</div>
						</div>
					</div>
					<div class="reach-out">
						<div class="title">CONTACT US</div>
						<div class="number">+91 9930597851</div>
						<div class="email">{{'jishanchoudhary@gmail.com'}}</div>
						<div class="title">Currency</div>
						<div class="currency">
							<div class="flag">
								<img src="assets/images/usa.svg" alt="">
							</div>
							<div class="currency-text">&nbsp;+ USD</div>
						</div>
						<div class="text">Transactions will be completed in Euros and a currency reference is available on hover.</div>
					</div>
				</div>

				<hr>

				<div class="col-md-9 col-lg-9 links">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<div class="header">
									mettā muse
								</div>
								<div>
									<a>About Us</a>
								</div>
								<div>
									<a>Stories</a>
								</div>
								<div>
									<a>Artisans</a>
								</div>
								<div>
									<a>Boutiques</a>
								</div>
								<div>
									<a>Contact Us</a>
								</div>
								<div>
									<a>EU Compliances Docs</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="header1">
									Quick Links
								</div>
								<div>
									<a>Orders & Shipping</a>
								</div>
								<div>
									<a>Join/Login as a Seller</a>
								</div>
								<div>
									<a>Payment & Pricing</a>
								</div>
								<div>
									<a>Return & Refunds</a>
								</div>
								<div>
									<a>FAQs</a>
								</div>
								<div>
									<a>Privacy Policy</a>
								</div>
								<div>
									<a>Terms & Conditions</a>
								</div>
							</div>

						</div>
						<div class="icon-container">
							<div class="share-icons">
								<div class="followus">Follow us</div>
								<div class="iconss">
										<a href="https://www.instagram.com/___zeeeeshan/" class="social-icon instagram">
											<i class="fa fa-instagram"></i>
										</a>
										<a href="https://www.linkedin.com/in/jeeshan-c-744901110/" class="social-icon linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
								</div>
							</div>
							<div class="payment-method">
								<div class="title">mettā muse Accepts</div>
								<div class="img">
									<img src="assets/images/payment.png" alt="payments">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copywrite-section">
				<div class="container">
					<div class="row copyright">
						Copyright © {{currentYear}} mettamuse. All rights reserved.
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>